<h1>Project: <%= @project.name %></h1>
<p>Description: <%= @project.description %></p>
<p>Funding Goal: <%= @project.funding_goal %></p>
<p>Start Date: <%= @project.start_date %></p>
<p>End Date: <%= @project.end_date %></p>
<p>Category: <%= @project.category %></p>

<%= link_to 'Back', projects_path %>



